*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
    background-color: black;
    color: white;
    margin-top: 50px;
}

header{
    background-color: #EFBB61;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

header img{
    height: 50px;
    margin: 0 20px;
}

.search{
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.search input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

.search button{
    padding: 10px;
    background-color: #1C75B9;
    border: none;
    color: white;
    border-radius: 20px;
    font-weight: bolder;
}

.options{
    display: flex;
    gap: 10px;
    margin-right: 25px ;
    font-weight: bolder;
}

.options p:hover{
    cursor: pointer;
    color: #000000;
}

.main__posters{
    display: flex;
    overflow:auto;
    gap: 5px;
}

.main__posters img{
    width: 40%;
}

.header__offer{
    background-color: black;
    color: green;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 50px;
}
.main__heading{
    text-transform: uppercase;
    text-align: center;
    background-color: #EFBB61;
    color: black;
    font-size: 24px;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
}

.women__section h1{
    font-size: 20px;
    margin: 10px;
}

.mensection h1{
    font-size: 20px;
    margin: 10px;
}

.kidsection h1{
    font-size: 20px;
    margin: 10px;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: black;
}